.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5rem;
  margin-bottom: 7.5rem;

  &__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  &__title {
    max-width: 17.5rem;
    text-align: left;
    line-height: 2.2rem;
  }

  &__info-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    height: 4.5rem;
    border-radius: 0.4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    background: #410b0a;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922) inset;
    font-weight: 600;

    span {
      font-weight: 200;
      font-size: 0.8rem;
    }
  }

  &__img-wrap {
    position: relative;
    align-self: flex-end;
    margin-bottom: -0.7rem;

    img {
      max-width: 36rem;
      height: 20rem;
      object-fit: cover;
    }

    &::before {
      z-index: -1;
      right: -2.75rem;
      top: -2.25rem;
      position: absolute;
      content: "";
      width: 100%;
      height: 20rem;
      border: 1px solid var(--brown-color);
    }
  }

  &__sausage_left-top {
    left: 12.5rem;
    top: 3rem;
    z-index: -1;
    filter: blur(2px);
  }

  &__spices_right-bottom {
    right: -10rem;
    bottom: -22.5rem;
    z-index: -1;
    filter: blur(1px);
  }

  &__spice_left-bottom {
    left: -4rem;
    bottom: -9rem;
    rotate: 130deg;
    z-index: -1;
  }

  &__spice_center-top {
    top: -3rem;
    right: 20rem;
    z-index: -1;
  }

  &__whip_right-bottom {
    right: 0px;
    bottom: -22.5rem;
    rotate: -75deg;
    z-index: -1;
    filter: blur(2px);
  }
}

.start-section__link-wildberries {
  #last-section-gradient stop {
    transition: stop-color 0.3s;
  }

  &:hover {
    #last-section-gradient stop {
      stop-color: #fff;
    }
  }
}

@media (max-width: 700px) {
  .last-section {
    padding: 0 14px;
    position: relative;
    gap: 3rem;
    &__info-wrap {
      width: 100%;
    }
    &__title {
      max-width: 20rem;
    }
    &__list {
      z-index: 2;
      position: absolute;
      left: 5px;
      bottom: 0px;
    }

    &__item {
      border: 1px solid var(--black-color);
      background: #410b0ab9;
      backdrop-filter: blur(3px);
    }

    &__wrap {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem;
    }

    &__img-wrap {
      img {
        width: 100%;
      }

      &::before {
        top: -15px;
        right: -10px;
      }
    }
  }
}
