.reviews-section {
  position: relative;
  display: flex;
  justify-content: center;

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 72rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
  }

  &__carousel {
    max-width: 60rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;

    &-item {
      height: 13rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--white-color);

      img {
        user-select: none;
        max-width: 16rem;
      }
    }

    &-wrap {
      position: relative;
    }

    &-btn {
      cursor: pointer;
      position: absolute;
      background-color: #00000000;
      z-index: 5;

      img {
        width: 1.6rem;
        height: 1.6rem;
      }

      top: calc(50% - 2.5rem);
      transform: translateY(calc(50%));
    }

    &-prev-btn {
      left: -4rem;
    }

    &-next-btn {
      right: -4rem;
    }
  }

  .swiper-pagination {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    z-index: 2;

    left: unset !important;
    bottom: 0px;
    background: #4040407a;

    &-bullet {
      margin: 0 !important;
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--white-color);
      opacity: 1;
    }

    &-bullet-active {
      width: 0.8rem;
      height: 0.8rem;
      background-color: #a92025;
    }
  }

  &__spices_left-bottom {
    left: -7.5rem;
    bottom: -11rem;
    rotate: 190deg;
    scale: 0.9;
    filter: blur(3px);
    z-index: -1;
  }

  &__spice_right-bottom {
    right: 8.5rem;
    bottom: -5rem;
    rotate: 60deg;
  }
}

@media (max-width: 700px) {
  .reviews-section {
    &__carousel-item img {
      max-width: 17.5rem;
    }
  }
}
