.sauseges-section {
  position: relative;
  display: flex;
  justify-content: center;

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 72rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.75rem;
  }

  &__title {
    max-width: 20rem;
    line-height: 2.2rem;
  }

  &__list {
    position: relative;
    display: flex;
    gap: 3rem;

    &::after {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      position: absolute;
      width: 90%;
      height: 15rem;
      border: 1px solid var(--brown-color);
      content: "";
    }
  }

  &__item {
    z-index: 2;
    position: relative;
    cursor: pointer;
    background-color: var(--black-color);
    width: 100%;
    max-width: 16.5rem;
    list-style: none;

    border: 1px solid var(--brown-color);
    padding: 1.2rem;

    transition: background-color 0.3s, scale 0.3s;

    &-img {
      margin-bottom: 2.5rem;
    }

    &-title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    &:hover {
      scale: 1.05;
      background-color: #1f1109;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;

    color: var(--white-color);
  }

  &__sausage_left-bottom {
    bottom: -3.5rem;
    left: 10rem;
    z-index: -1;

    rotate: 10deg;
    filter: blur(2px);
  }

  &__sausage_right-top {
    top: 0;
    right: 0;
  }

  &__whip_left-top {
    left: 0;
    top: -15rem;
    rotate: -70deg;
    filter: blur(2px);
  }

  &__spice_right-center {
    right: 0;
    bottom: 5rem;
    rotate: 30deg;
    z-index: -1;
  }

  &__spice_center-top {
    top: 2.5rem;
    left: 21rem;
    z-index: -1;
    filter: blur(1px);
  }
}

@media (max-width: 700px) {
  .sauseges-section {
    padding: 0 14px;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;

      &::after {
        max-width: 400px;
        left: -5px;
        height: 80%;
        transform: translateY(-50%);
      }
    }

    &__item {
      width: 100%;
      max-width: 24rem;
      a {
      }

      &-img {
        width: 100%;
      }
    }
  }
}
