.footer {
  background: linear-gradient(180deg, #000000 0%, #611210 100%);
  display: flex;
  justify-content: center;

  &__wrap {
    padding: 2.5rem;
    max-width: 60rem;
    width: 100%;
    display: flex;
    gap: 10rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    img {
      width: 100%;
      max-width: 8rem;
    }
  }

  &__links {
    display: flex;
    gap: 1.2rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    aspect-ratio: 1 / 1;

    border-radius: 100%;
    padding: 0.5rem;

    &_youtube {
      background: #f40000;
    }

    &_vk {
      background: #7294c7;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-title {
      font-size: 1.6rem;
      font-family: "American Captain";
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    &-item {
      list-style: none;

      &-link {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: var(--white-color);
        transition: color 0.3s;
      }

      &-link:hover {
        color: #e97d44;
      }
    }
  }
}
